form {
  flex-direction: column;
  display: flex;
  padding: 2rem;
}

form label{
  margin: 2rem 0;
}
form input:not([type=submit]) {
  border: none;
  background: transparent;
  outline: none;
  margin-left: 2rem;
  border-bottom: 1px solid #333;
  width: 50vw;
  padding: 0.5rem;
  font-size: 1rem;
}

.submit {
  text-align: center;
  padding: 0.5rem;
  background-color: #5b6371;
  color: #fff;
  margin: 1.5rem;
  border-radius: 0 40% 0 40%;
}

.urlList {
  border-bottom: 1px solid #ddd;
  padding-top: 3rem;
}
.urlList > div {
  display: flex;
  justify-content: space-between;
  margin: 1rem 2rem;
}

.urlList > div > div:first-child > a {
  font-size: 1.2rem;
}

.urlList > div > div:first-child > div {
  font-size: 0.8rem;
  line-height: 2;
}
.urlList > div > div:first-child > div a {
  margin-right: 0.8rem;
}
.urlList > div > div:last-child {
  margin: auto 0;
  color: red;
}