.postList {
  border-bottom: 1px solid #ccc;
  margin: 1.5rem;
  padding: 1rem;
  background-color: #fff;
}

.postList p {
  margin: 0;
}

.postList article {
  margin-bottom: 1rem;
  text-align: justify;
}

a[href] {
  color: #6d7996;
}

.postList img {
  width: 100%;
}