li {
  list-style: none;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 2.5rem;
  margin: auto 1rem;
}

.App-header {
  background-image: url('../../assets/bg.jpg');
  background-size: cover;
  background-position: center;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  box-shadow: 0 2px 4px #00000050;
}

.App-header > .logo {
  display: flex;
}
.App-header > div:last-child {
  width: 5rem;
  height: 5rem;
  margin: 1.5rem 1rem;
  background-image: url('../../assets/avatar.png');
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 10px #00000050;
}

.App-title {
  font-size: 1.5em;
  margin: auto 0;
  color: #fff;
}