.user {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.user::before, .user::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

.user::after {
  background: rgba(255, 255, 255, 0.8);
}

.user::before{
  background-image: url('../../assets/bg.jpg');
  background-size: cover;
  background-position: center;
}

.user > div {
  position: relative;
  z-index: 1;
  text-align: center;
  margin: auto;
}

.user > div img {
  width: 5rem;
  height: 5rem;
}

.user > div > div form {
  flex-direction: column;
  display: flex;
  padding: 2rem;
}

.user > div > div label{
  margin: 2rem 0;
}
.user > div > div input:not([type=submit]) {
  border: none;
  background: transparent;
  outline: none;
  margin-left: 2rem;
  border-bottom: 1px solid #333;
  width: 50vw;
  padding: 0.5rem;
  font-size: 1rem;
}